p{background-color: aqua;
background-color: rgba(0,0,0, .4);}

.text{opacity: .04;
background-color: aqua;}

.gradient{width: 100px;
height:100px;
    margin-bottom: 10%;
background-image:background: rgba(129,205,233,1);
    background: -moz-linear-gradient(-45deg, rgba(129,205,233,1) 0%, rgba(82,179,224,1) 28%, rgba(82,179,224,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(129,205,233,1)), color-stop(28%, rgba(82,179,224,1)), color-stop(100%, rgba(82,179,224,1)));
    background: -webkit-linear-gradient(-45deg, rgba(129,205,233,1) 0%, rgba(82,179,224,1) 28%, rgba(82,179,224,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(129,205,233,1) 0%, rgba(82,179,224,1) 28%, rgba(82,179,224,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(129,205,233,1) 0%, rgba(82,179,224,1) 28%, rgba(82,179,224,1) 100%);
    background: linear-gradient(135deg, rgba(129,205,233,1) 0%, rgba(82,179,224,1) 28%, rgba(82,179,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81cde9', endColorstr='#52b3e0', GradientType=1 );
}

.image{background-image: url("../images/learning-code-is-fun_925x.jpg");
width:100%;height:200px;
background-reapeat:no;
background-posision:center;
}