.container{ font-family: Verdana, Arial, sans-serif;
width: 500px;}

h1
{background-color: #ACC4CE;
    font-size: 20px;
    color :white ;
    text-shadow: #878787;
}

h2
{color:#395075;
letter-spacing: 10px;
font-style: italic;
font-size:14px;}

p
{
    color:gray;
    font-size: 14px;
    line-height: 20px;
    text-indent:20px;
}